# local package
-e .

# external requirements
flake8
pandas
numpy
matplotlib
ipykernel
click
python-dotenv
Pillow
opencv-python
pyarrow
torch>=2.0.0
torchvision
torchdata
fsspec
gcsfs
jupyterlab
wandb
torchmetrics
scikit-learn
tqdm
pytorch-lightning
protobuf==3.20.*
accelerate
datasets
transformers
hdf5